@using Blazor.Extensions.Storage
@using MovieQuestion.Client.Components
@using MovieQuestion.Client.Infrastructure
@using MovieQuestion.Shared.Models
@inherits LayoutComponentBase
@inject IModalService Modal
@inject LocalStorage Storage
@inject RatingManager RatingManager
@inject MovieManager MovieManager
@inject NavigationManager NavigationManager
<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await MovieManager.LoadMovies();
        var user = await Storage.GetItem<AppUser>(nameof(AppUser));
        if (user == null)
        {
            Modal.Show("Your username", typeof(UsernameModal));
        }
        else
        {
            await RatingManager.LoadScores();
            NavigationManager.NavigateTo("movies");
        }
    }

}


